
table{
    width: 100%;
    margin-bottom: 5%;
}

td{
    width: 25%;
    padding: 5px;
}

table, tr, td{
  
    align-items: baseline;
    border-collapse: collapse;
}
 tr.subtabla{
    display: inline-block;  
}
td.subtabla{
    width:  97px;
    
}
input.subtabla{
    width: 60%;
}

.dir{
    width: 78%;
}
.container{
background-color: #EDEDED;
}
.container2 input{
   margin-left: 50px;
   margin-top: 1%;
}
.container3{
    width: 100%;
}
div.uno{
    width: 45%;
    display: inline-block;
    text-align: center;
}
div.dos{
    width: 45%;
    display: inline-block;
    
}
button{
    
    width: 150px;
    height: 50px;
    background-color: orangered;
    margin-left: 80%;
    color: white;
    border-radius: 2px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
}
.gris{
    background-color: #F2F1EF;
}
